
.flex {display:flex};
.grid {display:grid};
.d-n{display: none;}
.flex-col{flex-direction: column;}
.flex-row{flex-direction:row}

.fxy{display: flex;justify-content: center;align-items: center;}
.fcx{justify-content: center;}
.fcy{align-items: center;}

.inset-0{inset: 0;}

.self-center {align-self: center;}
.self-end {align-self: flex-end;}
.self-start {align-self: flex-start;}


.start{justify-content: flex-start;}
.end{justify-content: flex-end;}
.between{justify-content: space-between}
.around{justify-content: space-around;}
.even{justify-content: space-evenly;}
.center{justify-content: center;}

.lh-none{line-height: 1;}
.lh-tight{line-height: 1.25;}
.lh-snug{line-height: 1.375;}
.lh-normal{line-height: 1.5;}
.lh-relaxed{line-height: 1.75;}
.lh-loose{line-height: 2;}

.noselect{user-select: none;}
.tc{text-align: center;}
.ts{text-align: start;}
.te{text-align: end;}

.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}
.capitalize {text-transform: capitalize;}


.p-abs{position: absolute;}
.p-rel{position: relative;}


.br{border: 1px solid black;}
.brw{border:1px solid white}
.brs{border: 1px solid silver;}
.brg{border: 1px solid gray;}
.bn{border: none;}
.brt{border-top: 1px solid black;}
.brb{border-bottom: 1px solid black;}
.brl{border-left: 1px solid black;}
.brr{border-right: 1px solid black;}
.rounded{border-radius: 50%;}


.z1 {z-index: 1;}
.z2 {z-index: 2;}
.z3 {z-index: 3;}
.z4 {z-index: 4;}
.z5 {z-index: 5;}
.z6 {z-index: 6;}
.z7 {z-index: 7;}
.z8 {z-index: 8;}
.z9 {z-index: 9;}
.z10 {z-index: 10;}

.scale0{scale: 0.0;}
.scale1{scale: 0.1;}
.scale2{scale: 0.2;}
.scale3{scale: 0.3;}
.scale4{scale: 0.4;}
.scale5{scale: 0.5;}
.scale6{scale: 0.6;}
.scale7{scale: 0.7;}
.scale8{scale: 0.8;}
.scale9{scale: 0.9;}
.scale10{scale: 1;}

.i{font-style: italic;}
.b{font-weight: bold;}
.u{text-decoration: underline;}

.of{overflow: hidden;}
.ofx{overflow-x: auto;}
.ofy{overflow-y: auto;}

.wm{width: 100%;}
.hm{height: 100%;}

.op0 {opacity: 0 }
.op1 {opacity: 0.1 }
.op2 {opacity: 0.2 }
.op3 {opacity: 0.3 }
.op4 {opacity: 0.4 }
.op5 {opacity: 0.5 }
.op6 {opacity: 0.6 }
.op7 {opacity: 0.7 }
.op8 {opacity: 0.8 }
.op9 {opacity: 0.9 }
.op10 {opacity: 1 }

.mta {margin-top: auto;}
.mla {margin-left: auto;}
.mra {margin-right: auto;}
.mba {margin-bottom: auto;}


.cx{position: absolute;left: 50%;transform: translateX(-50%);}
.cy{position: absolute;top: 50%;transform: translateY(-50%);}
.cxy{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}


.shadow{box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5)}
.transition{transition: 0.3s ease}

.noshrink{flex-shrink: 0;}
.nooutline{outline: none;}

.fit{ object-fit: cover;}
.wrap{flex-wrap: wrap;}

.nowrap{white-space: nowrap;}

.pointer{cursor:pointer}
.default{cursor:default}

//shapes//
.circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
}


@for $i from 0 through 100 {
  .px#{$i}  { font-size: #{$i}px; }

  .mt#{$i}  { margin-top: #{$i}px; }
  .mb#{$i}  { margin-bottom: #{$i}px; }
  .mr#{$i}  { margin-right: #{$i}px; }
  .ml#{$i}  { margin-left: #{$i}px; }
  .mx#{$i}  { margin-left: #{$i}px; }
  .my#{$i}  { margin-left: #{$i}px; }



  .gap#{$i} {gap:#{$i}px}
 
  .p#{$i} {padding:#{$i}px}
  .pr#{$i} {padding-right:#{$i}px; }
  .pl#{$i} {padding-left:#{$i}px; }
  .pt#{$i} {padding-top:#{$i}px; }
  .pb#{$i} {padding-bottom:#{$i}px; }
  .py#{$i} {padding-top:#{$i}px; padding-bottom: #{$i}px; }
  .px#{$i} {padding-right:#{$i}px; padding-left: #{$i}px; }
  
 
  
  .htp#{$i}   { height: $i * 1%}
  .wdp#{$i}   { width: $i * 1%}

  
  .tp#{$i}  { top: #{$i}px; }
  .bt#{$i}  { bottom: #{$i}px; }
  .rt#{$i}  { right: #{$i}px; }
  .lt#{$i}  { left: #{$i}px; }

  .tpp#{$i}   { top: $i * 1%}
  .lfp#{$i}   { left: $i * 1%}
  .btp#{$i}   { bottom: $i * 1%}
  .rtp#{$i}   { right: $i * 1%}
  

  .br#{$i}  { border: #{$i}px solid }
  .brt#{$i}  { border-top: #{$i}px solid }
  .brl#{$i}  { border-left: #{$i}px solid }
  .brb#{$i}  { border-bottom: #{$i}px solid }
  .brr#{$i}  { border-right: #{$i}px solid }
  .rad#{$i}  { border-radius: #{$i}px; }

  .delay#{$i}{animation-delay: #{$i}s;}
  .grid-cols-#{$i}{grid-template-columns: repeat(#{$i}, 1fr);}
  
}

@for $i from 0 through 1000 {
 .w#{$i}  { width: #{$i}px; }
 .mw#{$i}  { max-width: #{$i}px; }
 .h#{$i}   { height: #{$i}px; }
 .mh#{$i}   {max-height: #{$i}px; }
  .wh#{$i}   { height: #{$i}px;width: #{$i}px; }
}



$colors: (
  aliceblue, antiquewhite, aqua, aquamarine, azure,
  beige, bisque, black, blanchedalmond, blue,
  blueviolet, brown, burlywood, cadetblue, chartreuse,
  chocolate, coral, cornflowerblue, cornsilk, crimson,
  cyan, darkblue, darkcyan, darkgoldenrod, darkgray,
  darkgreen, darkgrey, darkkhaki, darkmagenta, darkolivegreen,
  darkorange, darkorchid, darkred, darksalmon, darkseagreen,
  darkslateblue, darkslategray, darkslategrey, darkturquoise, darkviolet,
  deeppink, deepskyblue, dimgray, dimgrey, dodgerblue,
  firebrick, floralwhite, forestgreen, fuchsia, gainsboro,
  ghostwhite, gold, goldenrod, gray, green,
  greenyellow, grey, honeydew, hotpink, indianred,
  indigo, ivory, khaki, lavender, lavenderblush,
  lawngreen, lemonchiffon, lightblue, lightcoral, lightcyan,
  lightgoldenrodyellow, lightgray, lightgreen, lightgrey, lightpink,
  lightsalmon, lightseagreen, lightskyblue, lightslategray, lightslategrey,
  lightsteelblue, lightyellow, lime, limegreen, linen,
  magenta, maroon, mediumaquamarine, mediumblue, mediumorchid,
  mediumpurple, mediumseagreen, mediumslateblue, mediumspringgreen, mediumturquoise,
  mediumvioletred, midnightblue, mintcream, mistyrose, moccasin,
  navajowhite, navy, oldlace, olive, olivedrab,
  orange, orangered, orchid, palegoldenrod, palegreen,
  paleturquoise, palevioletred, papayawhip, peachpuff, peru,
  pink, plum, powderblue, purple, rebeccapurple,
  red, rosybrown, royalblue, saddlebrown, salmon,
  sandybrown, seagreen, seashell, sienna, silver,
  skyblue, slateblue, slategray, slategrey, snow,
  springgreen, steelblue, tan, teal, thistle,
  tomato, turquoise, violet, wheat, white,
  whitesmoke, yellow, yellowgreen
);

@each $name in $colors {
    .#{$name} {color: $name;}  //for text color
    .bg-#{$name} {background: $name;}  //for background-color
    .br-#{$name}  { border-color: $name; } //for border-color
}

//Custom color//
.bg-transparent{background: transparent;}

.fb-blue {color:#1878f3}
.fb-gray {color:#e5e6eb}
.b-fbw {background:#dfe2e7 ;}

.pinterest-red{color:#E50023}

.bg-fb-blue {background:#1878f3}
.bg-fb-gray {color:#e5e6eb}
.bg-pinterest-red{background:#E50023}




// Colors & helpers
